@import forms._
@(timeForm: Form[TimeForm])(implicit request: MessagesRequestHeader)
@import helper._

@defining("Cinderella") { title =>
    @main(title) {
    <div class="container">
        <h1>@title</h1>
        <div class="divider"></div>
        <div class="section">
            <h5>Remaining time</h5>
            <div class="current-container">
                <br>
                <h5 class="center-align" id="current"></h5>
            </div>
        </div>
        <div class="divider"></div>
        <div class="section">
            <h5>Setup</h5>
            <div class="row">
                @helper.form(
                    action = routes.HomeController.submit,
                    'class -> "form-container",
                    'enctype -> "multipart/form-data"
                ) {
                    <input type="text" name="path" class="file-path validate"/>
                    <input type="text" name="time" class="timepicker"/>
                    <div class="col s2 offset-s10">
                        @helper.CSRF.formField
                        <button class="btn waves-effect waves-light button" type="submit" name="action">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
    }
}
